<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" *ngIf="confirmationInterface">
    <h3 class="modal-title">Confirmation</h3>
    <div class="modal-body">
        <p>{{confirmationInterface.question}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="exec(false)">
            cancel
        </button>
        <button type="button" class="btn {{confirmationInterface.button.class}}" (click)="exec(true)">
            {{confirmationInterface.button.content}}
        </button>
    </div>
</clr-modal>
