<div *ngIf="errors && errors.length">
    <div class="alert alert-danger" *ngFor="let error of errors">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    {{error.message}}
                </span>
            </div>
        </div>
    </div>
</div>
