<form class="login" (submit)="submit()">
    <label class="title">
        <h3 class="welcome">Welcome to</h3>
        Demo Contacts
    </label>
    <div class="login-group">
        <input class="username" type="text" [(ngModel)]="login.email" placeholder="Email" name="email"/>
        <input class="password" type="password" [(ngModel)]="login.password" placeholder="Password" name="password"/>
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</form>
