@import "../../../../styles.variables";

.custom-toast {
    visibility: visible;
    min-width: 250px;
    margin-left: -125px;
    background-color: map_get($colors, dark);
    color: map_get($colors, light);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1500;
    left: 50%;
    bottom: 60px;
}

.custom-toast.success {
    background-color: map_get($colors, success) !important;
}

.custom-toast.danger {
    background-color: map_get($colors, danger) !important;
}

.custom-toast.warning {
    background-color: map_get($colors, warning) !important;
}

.custom-toast.show {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 60px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 60px;
        opacity: 1;
    }
}
