<div class="content-container">
    <div class="content-area">
        <app-page-header [pageHeader]="pageHeader">
            <button (click)="pageReturn()" class="btn btn-light float-xs-right">
                back
            </button>
        </app-page-header>
        <form class="main-form" (submit)="submit()" *ngIf="payload" autocomplete="off">
            <div class="card">
                <div class="card-block">
                    <app-row-form [label]="'Name'">
                        <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="payload.name">
                    </app-row-form>
                    <app-row-form [label]="'Group'">
                        <div class="select">
                            <select name="group_id" [(ngModel)]="payload.group_id">
                                <option *ngFor="let group of groups" [value]="group.id">{{group.title}}</option>
                            </select>
                        </div>
                    </app-row-form>
                    <app-row-form [label]="'E-mail'">
                        <input class="form-control" type="email" placeholder="E-mail" name="email" [(ngModel)]="payload.email">
                    </app-row-form>
                    <app-row-form [label]="'Cellphone'">
                        <input class="form-control" type="email" placeholder="Cellphone" name="cellphone" [(ngModel)]="payload.cellphone">
                    </app-row-form>
                    <app-row-form>
                        <app-errors-form [errors]="errors"></app-errors-form>
                    </app-row-form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" [disabled]="!valid()">{{contentButton()}}</button>
                    <button type="button" (click)="pageReturn()" class="btn btn-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
