<form (submit)="search($event)">
    <section class="form-block">
        <div class="form-group">
            <ng-content></ng-content>
            <button type="submit" class="btn btn-sm btn-success">Search</button>
        </div>
    </section>
</form>
