:host {
    .form-block {
        margin: 0;
        .form-group {
            padding-left: 0;
            margin-bottom: 0;
            .btn {
                margin-top: .26rem;
                margin-bottom: 0;
            }
        }
    }
}
