<div class="content-container">
    <div class="content-area">
        <app-page-header [pageHeader]="pageHeader">
            <button (click)="manipulate()" class="btn btn-secondary float-xs-right">
                New
            </button>
        </app-page-header>
        <div class="content-table row">
            <div class="col-xs-12" app-page-filter (onSearch)="search()">
                <input type="text" placeholder="Name" [(ngModel)]="filters[0].filter" size="35" name="Name"/>
            </div>
            <div class="col-xs-12">
                <clr-datagrid>
                    <clr-dg-column>Contact</clr-dg-column>
                    <clr-dg-column>Group</clr-dg-column>
                    <clr-dg-column style="width: 100px;"></clr-dg-column>
                    <clr-dg-row *ngFor="let item of items">
                        <clr-dg-cell center-padding>{{item.to_string_computed}}</clr-dg-cell>
                        <clr-dg-cell center-padding>
                            <span *ngIf="item.group">{{item.group.to_string_computed}}</span>
                            <span *ngIf="!item.group">--</span>
                        </clr-dg-cell>
                        <clr-dg-cell class="text-center">
                            <clr-dropdown>
                                <button type="button" class="btn btn-light btn-icon" clrDropdownTrigger>
                                    <clr-icon shape="cog"></clr-icon>
                                    <clr-icon shape="caret down"></clr-icon>
                                </button>
                                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                                    <button (click)="manipulate(item)" type="button" clrDropdownItem>
                                        <clr-icon shape="pencil"></clr-icon>
                                        Edit
                                    </button>
                                    <button (click)="destroy(item)" type="button" clrDropdownItem>
                                        <clr-icon shape="trash"></clr-icon>
                                        Delete
                                    </button>
                                </clr-dropdown-menu>
                            </clr-dropdown>
                        </clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-row *ngIf="loadingItems">
                        <app-data-grid-loading-items></app-data-grid-loading-items>
                    </clr-dg-row>
                    <clr-dg-placeholder>
                        No items found
                    </clr-dg-placeholder>
                </clr-datagrid>
            </div>
        </div>
    </div>
</div>
