<div class="content-container">
    <div class="content-area">
        <app-page-header [pageHeader]="pageHeader">
            <button (click)="pageReturn()" class="btn btn-light float-xs-right">
                back
            </button>
        </app-page-header>
        <form class="main-form" (submit)="submit()" *ngIf="payload" autocomplete="off">
            <div class="card">
                <div class="card-block">
                    <app-row-form [label]="'Title'">
                        <input class="form-control" type="text" placeholder="Title" name="title" [(ngModel)]="payload.title">
                    </app-row-form>
                    <app-row-form>
                        <app-errors-form [errors]="errors"></app-errors-form>
                    </app-row-form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" [disabled]="!valid()">{{contentButton()}}</button>
                    <button type="button" (click)="pageReturn()" class="btn btn-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
