<clr-header class="header-4">
    <div class="branding">
        <a [routerLink]="['/admin']" class="nav-link">
            <span class="title">Demo Contacts</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a [routerLink]="['/admin/contacts']" [routerLinkActive]="['active']" class="nav-link nav-text">Contacts</a>
        <a [routerLink]="['/admin/groups']" [routerLinkActive]="['active']" class="nav-link nav-text">Groups</a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="user"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a (click)="logout()" clrDropdownItem>Logout</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>
