@import "../../../../../../styles.variables";

section {
    height: 58px;
    border-bottom: 1px solid darken(map_get($colors, light), 10);
    padding-bottom: 10px;
    margin-bottom: 20px;
    h3, p {
        margin: 0 20px 0 0;
        height: 48px;
        line-height: 48px;
    }

    button {
        margin-top: 0;
    }
}
