<section class="row">
    <div class="col-xs-12">
        <h3 class="float-xs-left">{{pageHeader.title}}</h3>
        <p *ngIf="pageHeader.helper" class="float-xs-left hidden-lg-down">{{pageHeader.helper}}</p>
        <ng-content select="button"></ng-content>
    </div>
</section>
