/* You can add global styles to this file, and also import other style files */
@import "styles.variables";

@each $i in $colors {
    .btn.btn-#{nth($i, 1)} {
        background-color: nth($i, 2);
        border-color: nth($i, 2);
        color: map_get($colors, light);
        outline: none;
        &:hover {
            background-color: darken(nth($i, 2), 5);
            border-color: nth($i, 2);
            color: map_get($colors, light);
            outline: none;
        }
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.btn.btn-light {
    color: map_get($colors, dark);
    &:hover {
        color: map_get($colors, dark);
    }
}

.datagrid {
    .datagrid-body {
        min-height: 0;
        .datagrid-row {
            &:hover {
                background-color: #f9f9f9;
            }
            .datagrid-cell[center-padding] {
                padding-top: 23px;
            }
        }
    }
}

.datagrid-host {
    padding-top: 0;
}

.datagrid-column-separator {
    display: none !important;
}

.main-container {
    height: initial;
    min-height: 100vh;
    .content-container {
        .content-area {
            padding-bottom: 150px;
        }
    }
}

form.main-form {
    width: 100%;
    padding-top: 0;
    .row-form {
        margin-bottom: 25px;
        :not(.toggle-switch) {
            input, select, textarea {
                width: 100%;
            }
        }
    }
}
