.custom-waiting {
    position: fixed;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    opacity: 0.6;
}

.message {
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 170px;
    width: 100vw;
    color: #000000;
}

.custom-spinner {
    width: 70px;
    height: 70px;
    margin: 100px auto;
    background-color: #222222;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
